*{
    margin: 0;
    padding: 0;
}
#header{
    background: url('/eduford_img/background.jpg') center center/cover no-repeat;
    background-size: cover;  
    background-attachment: fixed;
}
nav{
    background: rgba(14, 19, 49, 0.706);
}
li{
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 5px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#lista li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
#lista li a:hover::after{
    width: 100%;
}
#lista li a:hover{
    color: #f44336;
}
.overlay{
    background: rgba(14, 19, 49, 0.706);
    height: 40vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay h2{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}
#btn{
    color: white;
    background-color: transparent;
    padding: 12px 36px;
    transition: 0.7s;
    color: blue;
    border: 1px solid red;
}
#btn:hover{
    border: 1px solid white;
    background: #f44336;
    transition: 0.7s;
    color: white;
}
p{
    color: rgb(102, 98, 98);
}
footer p{
    color: rgb(88, 83, 83);
}
footer a{
    font-size: 20px;
}

@media(max-width:1000px ) {
    #btn{
        margin-bottom: 15px;
        left: 35%;
        position: relative;
    }
    h3{
        text-align: center;
    }
    p{
        text-align: center;
    }
    #lista li a:hover::after{
        width: 0%;
    }
}